<!DOCTYPE html>
<html lang="en" xmlns:th="hyyp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId_person()})}" th:object="${person}"> <!-- Запрос PATCH не поддерживается, поэтому отправка POST на адрес /people и передачей объекта person-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name_person}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name_person')}" th:errors="*{name_person}">Name error</div>
    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="Update!"/>
    <!--После submit данные отправляются с POST запросом на /people-->
</form>
</body>
</html>